body {
	margin: 0px;
	padding: 0px;

	font-family: 'PT Sans', Arial, sans-serif;
	color: #333333;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

.inner-page {
	background-color: #ffffff;
}

.nav {
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}


.nav a {
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;

	text-decoration: none;
}

.nav a:hover,
.nav a:focus {
	color: #81b3d2;
}

.nav a:active {
	color: rgba(0,0,0,0.7);
}

.current-nav-item a,
.current-nav-item a:hover,
.current-nav-item a:active,
.current-nav-item a:focus {
	color: #766357;
}

.nav ul {
	list-style: none;
}

.background-container {
	background-image: url("../img/background-photo.jpg");
	background-repeat: no-repeat;
}

.background-text {
	background-image: url("../img/Welcome.png");
	background-repeat: no-repeat;
}


.slogan-desc {
	background-color: #ffffff;
	line-height: 26px;
	text-align: center;
}

.slogan {
	color: #000000;
	font-weight: bold;
	font-size: 21px;
}

.slogan-desc .desc {
	font-size: 14px;
	color: #333333;
}

.heading {
	margin: 0;
	margin-top: 45px;
	margin-bottom: 25px;

	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reasons-number {
	display: block;
	margin-bottom: 25px;

}

.item-desc {
	margin: 0;
	margin-bottom: 55px;
}

.reasons,
.reasons-reverse {
	color: #ffffff;
	background-color: #81b3d2;
}

.reason-first,
.reason-second {
	text-align: center;
}

.real-town {
	background-image: url("../img/background-2.jpg");
	background-position: top right;
	background-repeat: no-repeat;
}

.devil-bridge {
	background-image: url("../img/background-3.jpg");
	background-position: top left;
	background-repeat: no-repeat;
}

.basic-reasons-list {
	list-style: none;

	color: #000000;
	text-align: center;

	background-color: #ffffff;
}

.basic-reasons-item h3 {
	margin: 0;
	margin-bottom: 25px;
}

.basic-reasons-item img {
	margin-bottom: 30px;
	margin-top: 60px;
}

.extra-reasons-item {
	list-style: none;

	color: #000000;
	text-align: center;

	background-color: #eeeeee;
}

.search-form {
	background-color: #ffffff;
}

.search-form p {
	margin: 0;
}

.search-form .interest {
	margin-top: 55px;	
	margin-bottom: 30px;	

	font-size: 30px;
	line-height: 36px;
	color: #000000;
	text-align: center;
}

.search-form .desc {
	margin-bottom: 50px;	

	line-height: 24px;
	text-align: center;
}

.button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;

	box-sizing: border-box;

	background-color: #766357;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

.search-form .search-hotel-button {
	height: 86px;
	width: 568px;
}

.search-form .search-hotel {
	margin: 0;
}

.search-form  .search-button {
	height: 58px;
	width: 458px;	
}

.search-hotel-button:hover {
	background-color: #604e43;
}

.search-hotel-button:active {
	color: rgba(255,255,255,0.7);
	background-color: #503e33;
}

.search-hotel-form label {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.search-hotel-form input {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search-hotel-form input:hover {
	background-color: #ebebeb;
	border: none;
}

.search-hotel-form input:focus {
	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px #f2f2f2;
	outline: none;
}

.search-button {
	background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}

.search-button:active {
	color: rgba(255,255,255,0.7);
	background-color: #5496bd;
}

.map {
	height: 470px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.main-footer {
	background-color: rgba(255,255,255,0.9);
}

.main-footer a {
	color: #000000;
	line-height: 26px;
	text-decoration: none;
	font-weight: bold;
}

.hashtag {
	font-size: 21px;
}

.main-footer ul {
	list-style: none;
}

.social {
	font-size: 14px;
}

.html-academy span {
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.html-academy-logo  {
	color: #000000;
}

.html-academy-logo:hover {
	color: #81b3d2;
}

.html-academy-logo:active {
	color: #bdbbbc;
}


.filter-form {
	background-image: url("../img/filter background.jpg");
	background-position: top center;
	background-repeat: no-repeat;

}

.filter-hotel-form legend{
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filter-hotel-form fieldset {
	border: none;
}

.filter-hotel-form ul {
	list-style: none;
}

.checkbox-list li {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
}

.search-price-item input {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.button-price {
	font-size: 14px;
	line-height: 21px;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.button-price:hover {
	background-color: #ffffff;
	color: #000000;	
}

.sorting span {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting h3 {
	font-size: 12px;
	line-height: 18px;
}

.sorting ul {
	list-style: none;
}

.sorting-item a {
	font-size: 12px;
	line-height: 18px;
	color: rgba(0,0,0,0.7);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover,
.sorting-item a:focus {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:active {
	color: #000000;
	border: none;
}

.current-sorting-item a {
	color: #81b3d2;
	border: none;
}

.arrow-item a {
	color: rgba(0,0,0,0.3);
}

.arrow-item a:hover,
.arrow-item a:focus {
	color: rgba(0,0,0,1);
}

.arrow-item a:active {
	color: #81b3d2;
}


.content-list h3 {
	font-size: 21px;
	line-height: 26px;
}

.item-heading a {
	color: #000000;
	text-decoration: none;
}

.item-heading a:hover {
	color: #81b3d2;
}

.item-heading a:active {
	color: rgba(0,0,0,0.7);
}

.content ul {
	list-style: none;
}

.content-list li {
	border: 1px solid #e5e5e5;
}

.content-list span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.button-content .info {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
	font-weight: bold;

	background-color: #81b3d2;
	text-transform: uppercase;
}

.button-content .info:hover,
.button-content .info:focus {
	background-color: #669ec0;
}

.button-content .info:active {
	color: rgba(255,255,255, 0.7);
	background-color: #5496bd;
}

.button-content .booking {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
	font-weight: bold;

	background-color: #766357;
	text-transform: uppercase;	
}

.button-content .booking:hover {
	background-color: #604e43;
}

.button-content .booking:active {
	color: rgba(255,255,255, 0.7);
	background-color: #503e33;
}

.rating-text {
	color: #666666;
	font-size: 14px;
	line-height: 21px;

	background-color: #f2f2f2;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*создание сетки*/

.nav {
	min-height: 56px;
	width: 1200px;

	margin-left: auto;
	margin-right: auto;
}

.nav-list {
	margin: 0;
	padding: 0;

	min-height: 56px;
	min-width: 1200px;

	display: flex;
	justify-content: space-between;

}

.logo-block {
	display: flex;
	justify-content: center;
}

.logo-block a {
	height: 70px;
	position: absolute;
}

.background-container {
	width: 1200px;
	height: 510px;

	margin-left: auto;
	margin-right: auto;

	display: flex;
}

.background-text {
	margin-top: 85px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	min-height: 365px;
	width: 460px;
}

.slogan-desc {
	width: 1200px;
	
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.slogan-desc .slogan {
	margin: 0;
	margin-top: 60px;
	margin-bottom: 35px;

	min-width: 768px;
}

.slogan-desc .desc {
	margin: 0;
	margin-bottom: 55px;

	min-width: 490px;
}


.reasons {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
}

.reason-first {
	margin-top: 0;
	width: 33.3%;
}

.real-town {
	margin: 0;
	width: 66.6%;
}

.basic-reasons-list {
	padding: 0;
	margin: 0;
	width: 1200px;

	margin-left: auto;
	margin-right: auto;

	display: flex;
}

.basic-reasons-item {
	width: 33.3%;	
}

	.reasons-reverse {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
}

.reason-second {
	width: 33.3%;
}

.devil-bridge {
	margin: 0;
	width: 66.6%;
	order: -1;
}

.extra-reasons-list {
	padding: 0;
	margin: 0;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;

	display: flex;

}
.extra-reasons-item {
	width: 33.3%;	
}

.search-form {
	display: flex;
	flex-direction: column;
}

.search-form h2 {
	align-self: center;
}

.search-form form {
	position: absolute;
}

.search-form {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.main-footer {
	height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.filter-hotel-form {
	height: 220px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;

	display: flex;
	justify-content: space-between;

}

.search-price {
	flex-direction: column;
}

.sorting {
	height: 85px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;

	display: flex;
}

.sorting .sorting-list {

	display: flex;	
	align-items: center;
}


.content {
	margin: 0;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.content .content-item {
	height: 150px;
	margin: 0;

	display: flex;	
}

.content-item	div:first-child {
	display: flex;	
	flex-direction: column;
}
