body {
	min-width: 768px;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px;

	font-family: 'PT Sans', Arial, sans-serif;
	color: #333333;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;

	background-color: #f2f2f2;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.inner-page {
	background-color: #ffffff;
}

.nav {
	background-color: #ffffff;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}


.nav a {
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;

	text-decoration: none;
}

.nav a:hover,
.nav a:focus {
	color: #81b3d2;
}

.nav a:active {
	color: rgba(0,0,0,0.7);
}

.current-nav-item a,
.current-nav-item a:hover,
.current-nav-item a:active,
.current-nav-item a:focus {
	color: #766357;
}

.nav ul {
	list-style: none;
}

.background-container {


	background-image: url("../img/background-photo.jpg");
	background-repeat: no-repeat;


}


.slogan-desc {
	background-color: #ffffff;
	line-height: 26px;
	text-align: center;
}

.slogan {
	color: #000000;
	font-weight: bold;
	font-size: 21px;
}

.slogan-desc .desc {
	font-size: 14px;
	color: #333333;
}

.heading {
	margin: 0;
	margin-top: 45px;
	margin-bottom: 25px;

	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
}

.reasons-number {
	display: block;
	margin-bottom: 25px;

}

.item-desc {
	margin: 0;
	margin-bottom: 55px;
}

.reasons,
.reasons-reverse {
	color: #ffffff;
	background-color: #81b3d2;
}

.reason-first,
.reason-second {
	text-align: center;
}

.real-town {
	background-image: url("../img/background-2.jpg");
	background-position: top right;
	background-repeat: no-repeat;
}

.devil-bridge {
	background-image: url("../img/background-3.jpg");
	background-position: top left;
	background-repeat: no-repeat;
}

.basic-reasons-list {
	list-style: none;

	color: #000000;
	text-align: center;

	background-color: #ffffff;
}

.basic-reasons-item h3 {
	margin: 0;
	margin-bottom: 25px;
}

.basic-reasons-item img {
	margin-bottom: 30px;
	margin-top: 60px;
}

.extra-reasons-item {
	list-style: none;

	color: #000000;
	text-align: center;

	background-color: #eeeeee;
}

.search-form {
	background-color: #ffffff;
}

.search-form p {
	margin: 0;
}

.search-form .interest {
	margin-top: 55px;	
	margin-bottom: 30px;	

	font-size: 30px;
	line-height: 36px;
	color: #000000;
	text-align: center;
}

.search-form .desc {
	margin-bottom: 50px;	

	line-height: 24px;
	text-align: center;
}

.button {
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;

	box-sizing: border-box;

	background-color: #766357;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}

.search-hotel-button {
	height: 86px;
	width: 568px;

	display: block;
	margin: 0 auto;
}

.search-hotel {
	margin: 0;
	position: relative;
}

.search-form  .search-button {
	height: 58px;
	width: 458px;	
	
	margin-top: 20px;
}

.search-hotel-button:hover {
	background-color: #604e43;
}

.search-hotel-button:active {
	color: rgba(255,255,255,0.7);
	background-color: #503e33;
}

.search-hotel-form {
	position: absolute;
	top:100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 55px 55px;
	background: #ffffff;
	box-sizing: border-box;
}

.search-hotel-form label {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.search-hotel-form input {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;

	background-color: #f2f2f2;
	border: none;
}

.search-hotel-form input:hover {
	background-color: #ebebeb;
	border: none;
}

.search-hotel-form input:focus {
	background-color: #ffffff;
	box-shadow: inset 0 0 0 2px #f2f2f2;
	outline: none;
}

.search-button {
	background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}

.search-button:active {
	color: rgba(255,255,255,0.7);
	background-color: #5496bd;
}

.map img {
display: block;
position: absolute;
z-index: -1;
}

.main-footer {
	position: relative;
	margin-top: -120px;
	background-color: rgba(255,255,255,0.9);
}

.inner-footer {
	margin-top: 0;
}

.main-footer a {
	color: #000000;
	line-height: 26px;
	text-decoration: none;
}

.hashtag {
	font-size: 21px;
	font-weight: bold;
}

.main-footer ul {
	list-style: none;
}

.social {
	font-size: 14px;
}

.html-academy span {
	color: #000000;
	font-size: 14px;
	line-height: 26px;

}

.html-academy-logo  {
	width: 115px;
    height: 41px;
    margin-left: 8px;
	color: #000000;

}

.html-academy-logo:hover {
	color: #81b3d2;
}

.html-academy-logo:active {
	color: #bdbbbc;
}


.filter-form {
	background-image: url("../img/filter background.jpg");
	background-position: top center;
	background-repeat: no-repeat;

}

.filter-hotel-form legend{
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filter-hotel-form fieldset {
	border: none;
}

.filter-hotel-form ul {
	list-style: none;
}

.checkbox-list li {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
}

.search-price-item input {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;

	background-color: transparent;
	border: 2px solid #ffffff;
}

.button-price {
	font-size: 14px;
	line-height: 21px;

	width: 133px;
	height: 32px;

	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.button-price:hover {
	background-color: #ffffff;
	color: #000000;	
}

.sorting span {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sorting h3 {
	font-size: 12px;
	line-height: 18px;
}

.sorting ul {
	list-style: none;
}

.sorting-item a {
	font-size: 12px;
	line-height: 18px;
	color: rgba(0,0,0,0.7);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover,
.sorting-item a:focus {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:active {
	color: #000000;
	border: none;
}

.current-sorting-item a {
	color: #81b3d2;
	border: none;
}

.arrow-item a {
	color: rgba(0,0,0,0.3);
}

.current-arrow-item a {
	color: #81b3d2;	
}

.arrow-item a:hover,
.arrow-item a:focus {
	color: rgba(0,0,0,1);
}

.arrow-item a:active {
	color: #81b3d2;
}


.content-list h3 {
	font-size: 21px;
	line-height: 26px;
}

.item-heading a {
	color: #000000;
	text-decoration: none;
}

.item-heading a:hover {
	color: #81b3d2;
}

.item-heading a:active {
	color: rgba(0,0,0,0.7);
}

.content ul {
	list-style: none;
}

.content-list li {
	border: 1px solid #e5e5e5;
}

.content-list span {
	font-size: 14px;
	line-height: 21px;
	color: #333333;
}

.button-content .info {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
	font-weight: bold;

	background-color: #81b3d2;
	text-transform: uppercase;
}

.button-content .info:hover,
.button-content .info:focus {
	background-color: #669ec0;
}

.button-content .info:active {
	color: rgba(255,255,255, 0.7);
	background-color: #5496bd;
}

.button-content .booking {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	text-decoration: none;
	font-weight: bold;

	background-color: #766357;
	text-transform: uppercase;	
}

.button-content .booking:hover {
	background-color: #604e43;
}

.button-content .booking:active {
	color: rgba(255,255,255, 0.7);
	background-color: #503e33;
}

.rating-text {
	color: #666666;
	font-size: 14px;
	line-height: 21px;

	background-color: #f2f2f2;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*создание сетки*/

.nav-list {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	padding: 15px;
	width: 20%;
	text-align: center;
}

.logo {
	height: 70px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

.background-container {
	text-align: center;
}

.background-text {
	margin:0;

	background-image: url("../img/Shape-1.png");
	background-position: bottom center;
	background-repeat: no-repeat;	
}

.background-text img {
	margin-top: 80px;
	margin-bottom: 70px;
}

.slogan-desc {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.slogan-desc .slogan {
	margin: 0;
	margin-top: 60px;
	margin-bottom: 35px;
}

.slogan-desc .desc {
	margin: 0;
	margin-bottom: 55px;
}


.reasons {
	display: flex;
}

.reason-first {
	margin-top: 0;
	width: 33.3%;
}

.real-town {
	margin: 0;
	width: 66.7%;
}

.basic-reasons-list {
	padding: 0;
	margin: 0;
	display: flex;
}

.basic-reasons-item {
	width: 33.3%;	
}

.reasons-reverse {
	display: flex;
	flex-direction: row-reverse;
}

.reason-second {
	width: 33.3%;
}

.devil-bridge {
	margin: 0;
	width: 66.6%;
}

.extra-reasons-list {
	padding: 0;
	margin: 0;

	display: flex;
}

.extra-reasons-item {
	width: 33.3%;	
}

.search-form {
	display: flex;
	flex-direction: column;
}

/* форма поиска гостиницы главной страницы */
.search-hotel-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 568px;
}

.search-hotel-form p {
	margin-bottom: 30px;
}

.search-hotel-form input {
    height: 38px;
    padding-left: 13px;
	box-sizing: border-box;
}

.search-hotel-form input[name="date-entry"] {
	width: 345px;
    margin-left: 19px;
}

.search-hotel-form input[name="date-departure"] {
	width: 345px;
    margin-left: 17px;
}

.search-hotel-form input[name="quantity-adults"] {
	width: 114px;
    margin-left: 38px;

    text-align: center;
}

.search-hotel-form input[name="quantity-children"] {
	width: 114px;
    margin-left: 27px;

    text-align: center;
}

.main-footer {
	padding: 35px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.social {
	display: flex;
}

.html-academy {
	display: flex;
	align-items: center;
}


/* сетка внутренней страницы */ 


.filter-hotel-form {
	height: 220px;
	padding: 30px 70px;

	display: flex;
	box-sizing: border-box;
}

.search-infrastructure,
.search-housing {
	padding: 0;
    margin: 0;
	width: 25%;
}

.search-infrastructure ul,
.search-housing ul {
	padding: 0;
    margin: 0;
}

.search-infrastructure legend,
.search-housing legend,
.checkbox-item {
	margin-bottom: 25px;
}

.search-price {
	padding: 0;
    margin: 0;

	margin-left: auto;
	flex-direction: column;
}

.sorting {
	height: 85px;
	padding: 0 72px;
	display: flex;
	align-items: center;
}

.sorting .sorting-list {
	padding: 0;
    margin: 0;

	display: flex;	
	align-items: center;
}

.sorting h3 {
	margin-left: 50px;
	margin-right: 40px;
}

.sorting-item {
	margin-left: 30px;
}

.arrow-list {
	margin-left: auto;
	display: flex;
}

.arrow-item {
	margin-left: 12px;
}

.content ul {
	padding: 0;
    margin: 0;
}

.content .content-item {
	margin: 0;
	padding: 30px 72px;

	display: flex;	
	box-sizing: border-box;
}

.content-item p {
	padding: 0;
    margin: 0;	
}

.item-content-housing {
	padding: 0;
    margin: 0;

    margin-left: 30px;
    width: 260px;
    height: 90px;

	display: flex;	
	flex-wrap: wrap;
	align-content: space-between;
}

.item-content-housing h3,
.item-heading a  {
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.content-item:nth-of-type(1) .item{
	margin-right: 37px;
}
.content-item:nth-of-type(2) .item{
	margin-right: 63px;
}
.content-item:nth-of-type(3) .item{
	margin-right: 20px;
}

.button-content a {
	padding: 3px 15px;
    display: inline-block;
    box-sizing: border-box;
}

.info {
	margin-right: 8px;
}

.item-rating {
	margin-left: auto;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

